body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* * {
    outline: 2px solid red;

} */

.section1 {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.right-links a {
    text-decoration: none;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 150px;
    padding-top: 12px;
}

.content1 {
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
    align-items: flex-start;
}

.part1 {
    width: 500px;
    height: auto;
}

.part1 h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.part1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.part2 img {
    width: 430px;
    border-radius: 10px;
    border: 4px solid #ccc;
    height: auto;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;

}

.header .right-links {
    font-size: 15px;
}

.section1 button {
    cursor: pointer;
    padding: 8px 26px;
    border-radius: 8px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: #F9FAF8;
    font-weight: bold;
}

.section2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.section2 .images {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.section2 img {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    border: 4px solid #3882f6;
}

.section2 p {
    width: 170px;
    font-size: small;
}

.section2 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.section3 {
    background-color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 70px;
}

.section3 .quote {
    margin: 90px 220px;
    margin-bottom: 0px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
}

.section3 .person {
    text-align: end;
    margin-top: 0px;
    font-weight: bold;
    margin-right: 230px;
    font-size: 15px;
}

.section4 {
    padding: 70px 170px;
}

.section4 .content {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 23px 70px;
}

.section4 .heading {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: 0px;
}

.section4 .texts {
    margin-top: 0px;
    color: #F9FAF8;
    font-size: 15px;
}

.section4 button {
    align-self: center;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 26px;
    font-weight: bold;
    background-color: #3882f6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 12px 0;
}